<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.song.cache.dao.FinanceWaterMarkMapper">
    <resultMap id="BaseResultMap" type="com.song.cache.bean.dto.FinanceWaterMark" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="finance_id" property="financeId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="word_font" property="wordFont" jdbcType="DOUBLE" />
        <result column="word_text" property="wordText" jdbcType="VARCHAR" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, finance_id, type, word_font, word_text, img_url, status
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from finance_water_mark
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from finance_water_mark
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.song.cache.bean.dto.FinanceWaterMark" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into finance_water_mark (finance_id, type, word_font,
        word_text, img_url, status
        )
        values (#{financeId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, #{wordFont,jdbcType=DOUBLE},
        #{wordText,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.song.cache.bean.dto.FinanceWaterMark" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into finance_water_mark
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="financeId != null" >
                finance_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="wordFont != null" >
                word_font,
            </if>
            <if test="wordText != null" >
                word_text,
            </if>
            <if test="imgUrl != null" >
                img_url,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="financeId != null" >
                #{financeId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                #{type,jdbcType=TINYINT},
            </if>
            <if test="wordFont != null" >
                #{wordFont,jdbcType=DOUBLE},
            </if>
            <if test="wordText != null" >
                #{wordText,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null" >
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.song.cache.bean.dto.FinanceWaterMark" >
        update finance_water_mark
        <set >
            <if test="financeId != null" >
                finance_id = #{financeId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="wordFont != null" >
                word_font = #{wordFont,jdbcType=DOUBLE},
            </if>
            <if test="wordText != null" >
                word_text = #{wordText,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null" >
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.song.cache.bean.dto.FinanceWaterMark" >
    update finance_water_mark
    set finance_id = #{financeId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      word_font = #{wordFont,jdbcType=DOUBLE},
      word_text = #{wordText,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <resultMap id="PdfWatermarkMap" type="com.song.cache.bean.vo.PdfWatermark">
        <result column="finance_id" property="financeId"/>
        <collection property="wordsMarks" ofType="com.song.cache.bean.vo.WordWatermark" columnPrefix="word_">
            <result property="wordFont" column="font"/>
            <result property="wordText" column="text"/>
        </collection>
        <collection property="imgMarks" ofType="com.song.cache.bean.vo.ImgWatermark" columnPrefix="img_">
            <result property="imgUrl" column="url"/>
        </collection>
    </resultMap>


    <select id="selectPdfWatermarkByFinanceId" resultMap="PdfWatermarkMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM finance_water_mark
        WHERE finance_id = #{financeId}
    </select>


    <select id="selectFinanceWaterMarkByFinanceId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from finance_water_mark
        where finance_id = #{financeId}
    </select>
</mapper>